html {
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;

    background-color: black;
}

.cover {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.movable {
    position: absolute;
    will-change: transform opacity;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;

    overflow: hidden;
}

.invisible {
    opacity: 0;
}